.navbar {
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 70px, 50% 100%, 0 70px);
    clip-path: polygon(0% 0%, 100% 0%, 100% 70px, 50% 100%, 0 70px);
    padding: 10px 10px 40px 10px;
    background: var(--gradient-bg);
  }

ion-buttons {
    position: absolute;
  }

ion-img {
      //position: absolute;
      height: 12vh;
      width: 15vh;
      margin: 0 auto;
  }

  .afProfile {
      border: 1px solid black;
      margin: 5%;
            ion-input {
                border: 1px solid black;
                border-radius: 20px;
                margin-top: 5%;
                margin-bottom: 5%;
            }
  }
