.navbar {
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 60px, 50% 100%, 0 60px);
    clip-path: polygon(0% 0%, 100% 0%, 100% 60px, 50% 100%, 0 60px);
    padding: 25px 10px 40px 10px;
    background: linear-gradient(10deg, #3299cc, #5b3192);
  }


ion-buttons {
    position: absolute;
  }

ion-img {
    //  position: absolute;
      height: 12vh;
      width: 15vh;
      margin: 0 auto;
  }

.avatar {
        height: 100%;
        width: 20%;
  }

.spinner-container {
    width: 100%;
    text-align: center;
    padding: 10px;
  }
  
ion-item {
    color: black;
  }