<div class="nav-wrapper">
    <ion-header class="navbar">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
        <ion-img src="assets/logo.png"></ion-img>
    </ion-header>
      </div>

<ion-content text-center>
<h2>Meet the Team</h2>
<ion-searchbar></ion-searchbar>
<br>
    
    <ion-item color="secondary" text-wrap (click)="stefan()">
  <ion-avatar slot="start"><img src="assets/stefan.jpg"></ion-avatar>
  <ion-label text-wrap><b>Stefan Vnuk</b>
    &nbsp;
    <h6>Solicitor/Supervisor</h6>
  </ion-label>
    </ion-item>
    <br>
  <ion-item color="secondary" text-wrap>
      <ion-avatar slot="start"><img src="assets/susana.jpg"></ion-avatar>
      <ion-label text-wrap><b>Susana Benidir</b>
        &nbsp;
       <h6> Quality Compliance Manager & Solicitor </h6>
      </ion-label>
</ion-item>
<br>
<ion-item color="secondary" text-wrap>
    <ion-avatar slot="start"><img src="assets/silpa.jpg"></ion-avatar>
    <ion-label text-wrap><b>Silpa Bhudia</b>
      &nbsp;
     <h6>Senior Caseworker</h6>
    </ion-label>
</ion-item>
<br>
<ion-item color="secondary" text-wrap>
    <ion-avatar slot="start"><img src="assets/nataliya.jpg"></ion-avatar>
    <ion-label text-wrap><b>Nataliya Burns</b>
      &nbsp;
     <h6>Supervisor Senior Caseworker</h6>
    </ion-label>
</ion-item>
<br>
<ion-item color="secondary" text-wrap>
    <ion-avatar slot="start"><img src="assets/rebecca.jpg"></ion-avatar>
    <ion-label text-wrap><b>Rebecca Head</b>
      &nbsp;
     <h6>Solicitor/Senior Caseworker</h6>
    </ion-label>
</ion-item>
<br>
<ion-item color="secondary" text-wrap>
    <ion-avatar slot="start"><img src="assets/anna.jpg"></ion-avatar>
    <ion-label text-wrap><b>Anna Hawkes</b>
      &nbsp;
     <h6>Senior Caseworker/Supervisor</h6>
    </ion-label>
</ion-item>
</ion-content>
