<div class="nav-wrapper">
    <ion-header class="navbar">
        <ion-buttons slot="end">
          <ion-button (click)="logout()">
            <ion-icon slot="icon-only" color="white" name="log-out"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-img src="assets/logo.png"></ion-img>
    </ion-header>
      </div>

<ion-content>

  <ion-card class="aboutcard">
    <ion-img src="assets/pic1.jpg"></ion-img>
    <ion-card-header>
    <ion-card-title>About Us</ion-card-title>
    <ion-card-subtitle>Boutique Solicitors</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>Dummy text</ion-card-content>
    <br>
  </ion-card>

        <ion-tabs>
                <ion-tab-bar slot="bottom">
                  <ion-tab-button class="activeTab" tab="about">
                   <ion-icon name="information-circle-outline"></ion-icon>
                    <ion-label>About Us</ion-label>
                  </ion-tab-button>
                  <ion-tab-button tab="dashboard">
                   
                    <ion-icon color="blue" name="home"></ion-icon>
                    <ion-label>Dashboard</ion-label>
                  </ion-tab-button>
                  <ion-tab-button tab="contact">
                    <ion-icon color="red" name="contacts"></ion-icon>
                    <ion-label>Contact Us</ion-label>
                  </ion-tab-button>
                </ion-tab-bar>
              </ion-tabs>
</ion-content>
