.activeTab {
    background: var(--gradient-bg);
    color: white;
    height: 100%;
}

.navbar {
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 70px, 50% 100%, 0 70px);
    clip-path: polygon(0% 0%, 100% 0%, 100% 70px, 50% 100%, 0 70px);
    padding: 25px 10px 20px 10px;
    background: var(--gradient-bg);
  }
//   .nav-wrapper {
//     filter: drop-shadow(0px 0px 10px rgba(0,0,0,0.3));
//   }
// .icons {
//   padding-top: 6%;
// }
ion-buttons {
    position: absolute;
  }

 .navbar img {
    //  position: absolute;
      height: 12vh;
      width: 15vh;
      // margin: 0 auto;
      display: block;
      margin-left: auto;
      margin-right: auto;
  }
ion-card {
     // border: 0.5px solid #3299cc;
     box-shadow: var(--box-shadow);
}

p, h1 {
  margin-bottom: 2vw;
}

.aboutcard {
  margin-bottom: 20%;
}
