<ion-header>
</ion-header>
 
<ion-content class="bg-custom">
    <ion-grid>
        <ion-row justify-content-center>
          <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
            <div text-center>
              <img src="assets/logo.png/">
              <br>
              <br>
              <h1>Login</h1>
            </div>
            <div padding>
              <ion-item>
                  <ion-icon name="person" slot="start"></ion-icon>
                <ion-input [(ngModel)]="user" type="text" placeholder="Username"></ion-input>
              </ion-item>
              <br>
              <ion-item>
                <ion-icon name="lock" slot="start"></ion-icon>
                <ion-input [(ngModel)]="pass" type="password" placeholder="Password"></ion-input>                
              </ion-item>
              <br>
            <ion-label>{{ error }}</ion-label>
            </div>         
          <br>
          <br>
          <br>
          <br>
            <div padding>
            
           <ion-button size="large" color="tertiary" (click)="login()" expand="block">Login</ion-button>
           
          </div>

          </ion-col>
        </ion-row>
      </ion-grid>

</ion-content>