.bg {
    background: linear-gradient(to right, #3299cc, #5b3192);
}
h1 {
      text-align: center;
      font-family: 'Varela Round';
      color: #FFF;
  }

  
ion-img {    
    height: 20vh;
    width: 25vh;
 
   margin: 0 auto;
    
}

$white-color: #fff;
$height100: 100%;

ion-grid {
    width:100%;
    height: $height100;

    background: linear-gradient(10deg, #3299cc, #5b3192);
//     background-size: 400% 400%;

// --webkit-animation: fancy-bg-animation 3s linear infinite;
// --moz-animation: fancy-bg-animation 3s linear infinite;
// animation: fancy-bg-animation 3s linear infinite;
}

@-webkit-keyframes fancy-bg-animation {
  0%{background-position:0% 50%}
  50%{background-position:100% 51%}
  100%{background-position:0% 50%}
}
@-moz-keyframes fancy-bg-animation {
  0%{background-position:0% 50%}
  50%{background-position:100% 51%}
  100%{background-position:0% 50%}
}
@keyframes fancy-bg-animation {
  0%{background-position:0% 50%}
  50%{background-position:100% 51%}
  100%{background-position:0% 50%}
}

ion-row {
    height: $height100;
}


ion-button {
    font-weight: 300;
    --border-radius: 20px;
    --color: #000;
    font-family: 'Varela Round';   
}

@media (min-width: 240px) and (max-width: 768px) {
    ion-grid {
      //  background: linear-gradient(to right, #3299cc, #5b3192);   
     }
    ion-col {
        border: none;
    }
}

ion-label {
    color: red;
    font-size: 12;
}

ion-item {
    --border-radius: 20px;
}

  .quickcontact {
  text-align: right;
  color: white;
  margin-right: 20%;  
}

.quickcontact ion-fab-button {
  color: white;
  text-align: right;
}

.quickcontact ion-label {
  color: white;
  margin-top: 20px;
}

.toast {
  --background: blue;
}