.navbar {
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 70px, 50% 100%, 0 70px);
  clip-path: polygon(0% 0%, 100% 0%, 100% 70px, 50% 100%, 0 70px);
  padding: 25px 10px 20px 10px;
  background: var(--gradient-bg);
}
.nav-wrapper {
  filter: drop-shadow(0px 0px 10px rgba(0,0,0,0.3));
}


ion-buttons {
  position: absolute;
}
.icons {
  // padding-top: 6%;
}

ion-img {
  //  position: absolute;
    height: 12vh;
    width: 15vh;
    margin: 0 auto;
}

.billing {
  text-align: left;
  margin-left: 5%;
  margin-right: 5%;

}

.billing ion-input {
  border: 1px solid #000;
  // transform: translateX(5%);
}

.billing ion-select {
  border: 1px solid #000;
  
}