.activeTab {
    background: linear-gradient(10deg, #3299cc, #5b3192);
    color: white;
}

.navbar {
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 60px, 50% 100%, 0 60px);
    clip-path: polygon(0% 0%, 100% 0%, 100% 60px, 50% 100%, 0 60px);
    padding: 25px 10px 40px 10px;
    background: linear-gradient(10deg, #3299cc, #5b3192);
  }
//   .nav-wrapper {
//     filter: drop-shadow(0px 0px 10px rgba(0,0,0,0.3));
//   }

ion-buttons {
    position: absolute;
  }

  .icons {
    // padding-top: 6%;
  }

  .navbar img {
    //  position: absolute;
      height: 12vh;
      width: 15vh;
      // margin: 0 auto;
      display: block;
      margin-left: auto;
      margin-right: auto;
  }

  ion-card {
      padding-top: 5%;
      border: 1px solid #5b3192;
  }

  ion-item {
      font-size: 85%;
  }

 ion-item ion-fab-button {
     height: 75%;
     width: 14%;
     margin-left: 0;
     color: linear-gradient(10deg, #3299cc, #5b3192);     
 }

 ion-fab-button ion-icon {
     height: 60%;
     width: 60%;
 }