<div class="nav-wrapper" style="background: white;">
  <!-- <ion-header class="navbar"> -->
    <ion-header>
      <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button color="tertiary"></ion-menu-button>
    </ion-buttons>
<ion-icon (click)="settings()" class="settings" color="tertiary" name="settings"></ion-icon>
    <ion-img src="assets/logo.png"></ion-img>
</ion-toolbar>
</ion-header>
</div>

<ion-content text-center>

    <ion-tabs>
        <ion-tab-bar color="primary" slot="top">
          <ion-tab-button routerDirection="forward" (click)="chats()">
            <ion-icon name="chatbubbles"></ion-icon>
            <ion-label>Chats</ion-label>
          </ion-tab-button>
          <ion-tab-button class="activeTab" (click)="connections()">
            <ion-icon name="contacts"></ion-icon>
            <ion-label>Connections</ion-label>
          </ion-tab-button>
          <ion-tab-button (click)="add()">
            <ion-icon name="person-add"></ion-icon>
            <ion-label>Add Connections</ion-label>
          </ion-tab-button>
        </ion-tab-bar>
      </ion-tabs>
<h1>Connections</h1>
<div class="chats"></div>
<!-- <ion-list>
  <ion-item> -->
    <ion-button color="success" (click)="chatroom()">MAIN CHAT ROOM</ion-button>
  <!-- </ion-item>
</ion-list>  -->
<!-- <ion-footer class="newConnection">
  <ion-button><ion-icon name="add"></ion-icon> New Connection</ion-button>
</ion-footer> -->
</ion-content>

