.navbar {
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 60px, 50% 100%, 0 60px);
    clip-path: polygon(0% 0%, 100% 0%, 100% 60px, 50% 100%, 0 60px);
    padding: 10px 10px 40px 10px;
    background: linear-gradient(10deg, #3299cc, #5b3192);
  }
  .nav-wrapper {
    filter: drop-shadow(0px 0px 10px rgba(0,0,0,0.3));
  }

  ion-img {
    //  position: absolute;
      height: 12vh;
      width: 15vh;
      margin: 0 auto;
  }

  .profile {
      margin-bottom: 5%;
  }

  .items {
    margin-top: 5%;
    z-index: 100;
  }

  .profile ion-avatar {
      margin: 0 auto;
      height: 22vh;
      width: 22vh;
      border: 1px solid #000;    
  }

  .profile h1 {
      color: blue;
  }
  
  .about {
    height: 55%;
    width: 20%;
  }

  .itemBtns {
    color: black;
    font-size: 100%;
    padding-right: 100%;
  }
 